# Exclude DLL files.
PDF Extractor/AbbyyExtract/bin
PDF Extractor/AbbyyExtract/obj
PDF Extractor/AbbyyExtract/debug.log

PDF Extractor/DocDataUI/bin
PDF Extractor/DocDataUI/obj
PDF Extractor/DocDataUI/debug.log

PDF Extractor/DocDataCom/bin
PDF Extractor/DocDataCom/obj
PDF Extractor/DocDataCom/debug.log

# Remove web.config files
PDF Extractor/DocDataUI/Web.config
PDF Extractor/DocDataUI/Web.ExtractLive.config
PDF Extractor/DocDataUI/Web.ExtractStaging.config
PDF Extractor/DocDataUI/Web.ExtractTraining.config
PDF Extractor/DocDataUI/Web.extracttest.config
PDF Extractor/DocDataUI/**/web.config

PDF Extractor/AbbyyExtract/Web.config
PDF Extractor/AbbyyExtract/Web.ExtractLive.config
PDF Extractor/AbbyyExtract/Web.ExtractStaging.config
PDF Extractor/AbbyyExtract/Web.ExtractTraining.config
PDF Extractor/AbbyyExtract/Web.extracttest.config

PDF Extractor/DocDataCom/App.config

#Exclude downloaded PDF
PDF Extractor/AbbyyExtract/References/Pdf/*.pdf
PDF Extractor/AbbyyExtract/References/SupplDocs/*.*
PDF Extractor/config.txt

PDF Extractor/packages/**/*.txt

#Remove text file.
*.xml
*.pdb
**/Debug/*
*.suo
*.pubxml
*.csproj.user
*.png
*.img

# Remove Debug Directory.
**/*.cache
PDF Extractor/.vs/config/applicationhost.config
